body {
  width: 100%;
  background-color: black;
  color: #ffffff
}

#root {
  margin: 0;
  padding: 2rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: #ffffff
}

a:hover {
  transform: scale(1.05);
}